body{font-family: 'Roboto',
sans-serif;
background-color:#D3D3D3;
}
.text-center{
font-family:roboto;
}
.card-title{
font-weight:bold;
font-family:'Roboto',
sans-serif;
}
/*footer*/
.foot{
background-color:gray;
 position:fixed;
 bottom:0; left:0;
 height:30px; width:100%;
}

h2{
font-family:'roboto',sans-serif;
}
/*cart-icons*/
.custom_icon{
margin:7px;
font-size:20px;
color:blue;
}
/*invoice*/
.inv{
display:block;
font-family:roboto;
}
/* banner image cropping */
.cropped {
    width: 1000px;
    height: 350px;
    overflow: hidden;
    }
/* card image cropping */
.card_crop {
    overflow: hidden;
    }
