{% extends 'base.html'%}
{% load static %}
{% block content %}
<center>
    <h1>search results for : {{query}}</h1>
</center>


<!--    product card display -->
<div class="container-fluid">
<div class="row mx-auto">
    {% for i in products %}
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
  <img src="{{i.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" style="font-weight:bold;">{{i.name}}</h5>
    <p class="card-text">{{i.description}}</p>
    <a href="{% url 'shop:prodetail' i.slug %}" class="btn btn-primary">Details</a>
  </div>
        </div>
    </div>
    {% empty %}
    <div>
        <h1>0 results found for : {{query}}</h1>
    </div>
    {% endfor %}




</div>
</div>
{% endblock %}
